header {
  width: 100%;
}

.jumbotron {
  background-image: url('../images/internet.jpg');
  width: 100%;
  background-size: cover;
  color: white;
}

/* .clickable-gif {
  padding: 3px;
} */

.search-result {
  padding: 3px;
  display: inline-block;
}

.topic-button {
  margin: 3px;
}