body {
  background-color: #101010;
  font-family: 'Share Tech Mono', monospace;
}

header {
  width: 100%;
}

p {
  font-family: 'Share Tech Mono', monospace;
}

.jumbotron {
  background-image: url('../images/internet.jpg');
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  background-size: cover;
  color: white;
}

.search-result {
  padding: 3px;
  margin: 3px;
  display: inline-block;
}

.topic-button {
  margin: 3px;
}

#buttons-display {
  padding: 5px 8px;
}

#gif-display {
  width: 100%;
}

#new-topic-form {
  margin: 10px;
  width: 75%;
  font-family: 'Share Tech Mono', monospace;
}